/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ffffff;
    --header: #255EE9;
    --section-color: #f6f6f6;
    --button-color: #7289da;
    --footer-color: #23272a;
}

.contenitore{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: var(--primary-color);
}

.debug{
    border: 1px solid black;
}

/* header */

header{
    background-color: var(--header);
}

/* main */

.sezione-grigia{
    background-color: var(--section-color);
}

/* footer */

footer{
    background-color: var(--footer-color);
    color: white;
}